
{% extends 'padre.html' %}
{% load static %}
{% block dinamico %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carga de datos</title>
</head>
 <h1> Formulario de carga:</h1>
<body>
    <form action="{% url 'miformulario.html' %}" method ="post" {% csrf_token %}
        <h2> Compositor! </h2>
        <p>Nombre Artista: <input type="text" name="nombre"> </p>
        <p>Nombre Disco: <input type="text" name="disco"> </p>

        <h3> Canciones! </h3>
        <p>Nombre Tema: <input type="text" name="nombre_tema"> </p>
        <p>Nombre Duracion: <input type="number" name="duracion"> </p>

        <h4> Info Discografia! </h4>
        <p>Nombre Disco: <input type="text" name="nombre_disco"> </p>
        <p>Nombre Artista: <input type="text" name="artista_disco"> </p>
        <p>Duracion: <input type="number" name="duracion_disco"> </p>


        <input type="submit" value="Enviar">
    </form>
</body>
</html>
{% endblock %}